@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--dark: #2c353d;
	--orange: #ff8f67;
	--white: #fff;
	--gray: #3f4354;
}
@layer utilities {
	.heading1 {
		@apply font-bold text-[26px] leading-[38px];
	}

	.heading1-semibold {
		@apply font-semibold text-[26px] leading-[38px];
	}

	.heading2 {
		@apply font-bold text-[18px] leading-[28px];
	}

	.heading3 {
		@apply font-semibold text-[18px] leading-[26px];
	}

	.heading3-regular {
		@apply font-normal text-[18px] leading-[26px];
	}

	.display {
		@apply font-bold text-[16px] leading-[24px];
	}

	.display-semibold {
		@apply font-semibold text-[16px] leading-[24px];
	}

	.display-regular {
		@apply font-normal text-[16px] leading-[24px];
	}

	.body {
		@apply font-bold text-[14px] leading-[22px];
	}

	.body-semibold {
		@apply font-semibold text-[14px] leading-[22px];
	}

	.body-regular {
		@apply font-normal text-[14px] leading-[22px];
	}

	.bodyMd {
		@apply font-bold text-[12px] leading-[18px];
	}

	.bodyMd-semibold {
		@apply font-semibold text-[12px] leading-[18px];
	}

	.bodyMd-regular {
		@apply font-normal text-[12px] leading-[18px];
	}

	.bodySm-semibold {
		@apply font-semibold text-[10px] leading-[16px];
	}

	.bodySm-regular {
		@apply font-normal text-[10px] leading-[16px];
	}

	.bodyXs-semibold {
		@apply font-semibold text-[9px] leading-[14px];
	}

	.bodyXs-regular {
		@apply font-normal text-[9px] leading-[14px];
	}
}
.cl-socialButtons {
	display: flex;
	width: auto;
}
.cl-socialButtons .cl-socialButtonsBlockButton {
	width: 60px;
	height: 50px;
	display: flex;
}
html.dark .cl-socialButtons .cl-socialButtonsBlockButton {
	background-color: var(--dark);
	border: 1px solid var(--gray);
}
html.dark .cl-socialButtonsBlockButton__github .cl-internal-1fc9kwt > img {
	filter: invert(100%);
}
html.dark .cl-internal-b868gt {
	background-color: var(--white);
}
.cl-socialButtonsBlockButton__github .cl-socialButtonsBlockButtonText,
.cl-socialButtonsBlockButton__google .cl-socialButtonsBlockButtonText__google {
	display: none !important;
}
.cl-socialButtons .cl-internal-1fc9kwt {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cl-internal-b3fm6y,
.cl-formButtonPrimary {
	background-color: var(--orange);
}
.cl-footerActionLink {
	color: var(--orange);
}
html.dark .cl-internal-17ydaof {
	background-color: var(--dark);
}
html.dark .cl-internal-1vbdq0x,
html.dark .cl-internal-13zhnx0,
html.dark .cl-internal-1xpzc82,
html.dark .cl-internal-17bz5n6,
html.dark .cl-internal-138ov2f {
	color: var(--white);
}
html.dark .cl-internal-mdg29y,
html.dark .cl-internal-18ut2g5 {
	background-color: var(--dark);
	color: var(--white);
}
